{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

    <h3>All projects:</h3><br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Notes</th>
                <th>Started</th>
                <th>Deadline</th>
                <th>Finished</th>
            </tr>
        </thead>

        {% for project in projects %}
        {% if not project["completed"] %}
        <tr>
        {% else %}
        <tr class="completed">
        {% endif %}
            <td>{{ project["title"] }}</td>
            <td>{{ project["notes"] }}</td>
            <td>{{ project["startdate"] }}</td>
            <td>{{ project["deadline"] }}</td>
            <td>{{ project["enddate"] }}</td>
        </tr>
        {% endfor %}
    </table>


    <h3 id="alldt">History of all daily tasks:</h3><br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Task</th>
                <th>Notes</th>
                <th>Priority</th>
            </tr>
        </thead>

        {% for task in tasks %}
        {% if not task["completed"] %}
        <tr>
        {% else %}
        <tr class="completed">
        {% endif %}
            <td>{{ task["date"] }}</td>
            <td>{{ task["task"] }}</td>
            <td>{{ task["notes"] }}</td>
            <td>{{ task["priority"] }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}